<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$type['title']}-{$GLOBALS['S']['title']}</title>
<meta name="keywords" content="{$type['keywords']} " />
<meta name="description" content="{$type['description']} " />
<link href="{$GLOBALS['skin']}style/g.css" rel="stylesheet" type="text/css" />
<link href="{$GLOBALS['skin']}style/product.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$GLOBALS['WWW']}include/js/jquery.myapp.min.js"></script>
<script type="text/javascript" src="{$GLOBALS['WWW']}include/js/jquery.jqzoom-core.js"></script>
<script type="text/javascript">
$(function() {
	//$(".jqzoom").jqzoom();
	$('.jqzoom').jqzoom({
		zoomWidth: 510,
		zoomHeight: 460,
		xOffset: 17,
		yOffset: 0,
		zoomType: 'reverse',
		lens:true,
		preloadImages:true,
		alwaysOn:false
	});
	$("#proNumJia").bind("click",function(){
		var store_num=7;//数据库中商品数
		var num = $('#proBuyNum').val();
		//if(sku!=''){
			if(parseInt(num)<parseInt(store_num)){
				$('.pro_buynum .nostock').hide().siblings('span').show();
				$("#proBuyNum").val(Number($("#proBuyNum").val())+1);
			}else{
				$('.pro_buynum .stock').hide().siblings('span').show();
			}
		//}else{
			//alert("请选择尺码");
			//halert('warning',0,"请选择尺码");
		//}
	});
	//购物车单击-1
	$("#proNumJian").bind("click",function(){
		var store_num=7;//数据库中商品数
		var num = $('#proBuyNum').val();
		//if(sku!=''){
			if(parseInt(num)<=1){
				$("#proBuyNum").val("1");
			}else if(parseInt(num)>parseInt(store_num)){
				$('.pro_buynum .stock').hide().siblings('span').show();
				$("#proBuyNum").val(Number($("#proBuyNum").val())-1);
			}else{
				$('.pro_buynum .nostock').hide().siblings('span').show();
				$("#proBuyNum").val(Number($("#proBuyNum").val())-1);
			}
		//}else{
			//alert("请选择尺码");
			//halert('warning',0,"请选择尺码");
		//}
	});
	//图片集左右翻滚
	$("#propicSelectTop").bind("click",function(){
		if(-$("#proLitpic").css("margin-left").replace(/px/,"")>=$("#proLitpic li:first").width()+11){
			$("#proLitpic").css("margin-left",Number($("#proLitpic").css("margin-left").replace(/px/,""))+Number($("#proLitpic li:first").width()+11)+"px");
		}
	});
	$("#propicSelectBot").bind("click",function(){
		if(5*($("#proLitpic li:first").width()+11)-$("#proLitpic").css("margin-left").replace(/px/,"")<$("#proLitpic").width()+10){
			$("#proLitpic").css("margin-left",Number($("#proLitpic").css("margin-left").replace(/px/,""))-Number($("#proLitpic li:first").width()+11)+"px");
		}
	});
});
</script>
</head>
<body>
<div id="page">
{include="head.html"}
<div id="content" class="head-expand">
    <!--BEGIN all-->
    <!--导航菜单模块-->
    {include="banner.html"}
    <div id="bd" >
		<div class="layout grid-m" style="padding-top:10px;">
		<div class="col-main">
		<div class="main-wrap">
			<div class="J_TModule" data-title="产品详情">
            <!--pro_info-->
            <div class="pro_info clearfix">
              <div class="pro_picview">
                <!---图片循环--->
                <div class="pro_bigpic" id="proCurpic"><a class="jqzoom" rel='gal1' title="男装" href="http://img1.heilanhome.com/sources/goods/HMHW3B039/HMHW3B039_C0244_1.jpg" > <img class="pro_normalpic" src="http://img1.heilanhome.com/sources/goods/HMHW3B039/HMHW3B039_C0244_1--w_460_h_460.jpg"></a></div>
    
    
    
                <div class="pro_litpic clearfix">
                  <div class="pro_litpic_t" id="propicSelectTop"></div>
                  <div class="pro_litpic_m">
                    <ul id="proLitpic">
                      <li class="hover" code=""><a rel="{gallery:'gal1',smallimage:'http://img1.heilanhome.com/sources/goods/HMHW3B039/HMHW3B039_C0244_1--w_460_h_460.jpg',largeimage:'http://img1.heilanhome.com/sources/goods/HMHW3B039/HMHW3B039_C0244_1.jpg'}" href="javascript:void(0);" class=""><img src="http://img1.heilanhome.com/sources/goods/HMHW3B039/HMHW3B039_C0244_1--w_74_h_74.jpg"/></a> </li>
                      <li class="" code=""><a rel="{gallery:'gal1',smallimage:'http://img1.heilanhome.com/sources/goods/HMHW3B039/HMHW3B039_C0244_6--w_460_h_460.jpg',largeimage:'http://img1.heilanhome.com/sources/goods/HMHW3B039/HMHW3B039_C0244_6.jpg'}" href="javascript:void(0);" class=""><img src="http://img1.heilanhome.com/sources/goods/HMHW3B039/HMHW3B039_C0244_6--w_74_h_74.jpg"/></a> </li>
                      <li class="" code=""><a rel="{gallery:'gal1',smallimage:'uploads/2013/11/091051015647.jpg',largeimage:'uploads/2013/11/091051015647.jpg'}" href="javascript:void(0);"><img src='uploads/2013/11/091051015647.jpg' /></a></li>
                      <li style="display:none;" code="C0154"> <a href="javascript:;" rel="{gallery:'gal1',smallimage:'http://img1.heilanhome.com/sources/goods/HMHW3B039/HMHW3B039_C0244_1--w_460_h_460.jpg',largeimage:'http://img1.heilanhome.com/sources/goods/HMHW3B039/HMHW3B039_C0244_1.jpg'}" > <img title="橄榄绿" src="http://img1.heilanhome.com/sources/goods/HMHW3B039/HMHW3B039_C0244_1--w_74_h_74.jpg" /> </a> </li>
                      <li style="display:none;" code="C0131"> <a href="javascript:;"  rel="{gallery:'gal1',smallimage:'uploads/2013/11/091030068244.jpg',largeimage:'uploads/2013/11/091030068244.jpg'}" > <img title="蓝底白点" src="uploads/2013/11/091030068244.jpg" /> </a> </li>
    
                     </ul>
                  </div>
                  <div class="pro_litpic_b" id="propicSelectBot"></div>
                </div>
              </div>
              <div class="pro_attr">
                <div class="pro_title">[新品]【轻熟风】秋装新款时尚印花灯芯绒长袖衬衫</div>
                <div class="pro_num">
                	<u>商品编号</u> HMHW3B039 
                </div>
                <div class="pro_price">
                	<u>售价</u>  &yen; <strong>189.00</strong> 
                </div>
                <div class="pro_color">
                  <div class="pro_colorname" style="color:#CCC">选择种类</div>
                  <ul>
                    <li class="select1"> <a href="javascript:;"><img src="uploads/2013/11/091030065483.jpg" /><i></i></a> </li>
                  </ul>
                </div>
                <div class="pro_border" style="display:;">
                  <div class="pro_color">
                    <div class="pro_colorname">颜色分类</div>
                    <ul id="proColor">
                      <li> <a id="" index='0' href="javascript:;" type='' name='color' value='橄榄绿' picbig="uploads/2013/11/091030065483.jpg"  code ="C0154" cname='颜色'> <img title="橄榄绿" src="uploads/2013/11/091030065483.jpg" /><i></i></a> </li>
                      <li> <a id="" index='0' href="javascript:;" type='' name='color' value='蓝底白点' picbig="uploads/2013/11/091030065483.jpg" code ="C0131" cname='颜色'> <img title="蓝底白点" src="uploads/2013/11/091030068244.jpg" /><i></i></a> </li>
                    </ul>
                  </div>
                  <div class="pro_size_name"><u>尺码</u><strong>请选择适合您的尺寸</strong></div>
                  <ul class="pro_size" id="proSize">
                    <li><a href="javascript:;" class="size_chioce_curr" name='size' value='165/84A(38)' code ="s" cname='尺码'>s<span>(165/84A)</span><i></i></a></li>
                    <li><a href="javascript:;" class="size_chioce_curr" name='size' value='170/88A(39)' code ="m" cname='尺码'>m<span>(170/88A)</span><i></i></a></li>
                    <li><a href="javascript:;" class="size_chioce_curr" name='size' value='175/92A(40)' code ="l" cname='尺码'>l<span>(175/92A)</span><i></i></a></li>
    
                  </ul>
                  <div class="pro_buynum"> 
                  	<span class="tit">数量</span>
                    <span>
                    	<span id="proNumJian" class="btn">-</span>
                        <span class="input">
                            <input id="proBuyNum" type="text" value="1" />
                            <input id='hidden7' type="hidden" value=127 />
                        </span>
                        <span id="proNumJia" class="btn">+</span>
                    </span>
                    <span>件</span> 
                    <span class="stock"></span>
                    <span class="nostock" style="display:none;">库存不足</span>
                  </div>
                  <div class="pro_subarea clearfix">
                    <div class="pro_submit ">
                      <a  class="pro_submitB" href="javascript:;">加入购物袋</a> <a  class="pro_submitA" href="javascript:;">立即购买</a>
                    </div>
                  </div>
                  <div class="pro_fav">
                  	<div class="shoucang clearfix">
                    <a href="javascript:void(0);" onclick="return add_collect_goods('HMHW3B039')">收藏该商品</a><span></span>
                    </div>
                  </div>
                  <div class="pro_share">
                    <!-- Baidu Button BEGIN -->
                    <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
                    <a class="bds_tsina"></a>
                    <a class="bds_qzone"></a>
                    <a class="bds_tqq"></a>
                    <a class="bds_renren"></a>
                    <a class="bds_t163"></a>
                    <a class="bds_sqq"></a>
                    <a class="bds_taobao"></a>
                    <a class="bds_copy"></a>
                    <span class="bds_more">更多</span>
                    </div>
                    <!-- Baidu Button END -->
                  </div>
                </div>
              </div>
            </div>
    
            <!--pro_detail-->
            <div class="pro_detail clearfix" style="clear:both">
              <div class="detail_main">
                <ul class="detail_tab">
                  <li class="bg_detail current">商品详情</li>
                </ul>
                <div class="detail_con">
                  <div class="detail_con_title">产品详细图 <span>注：商品实际颜色以静物图为准</span></div>
                  <div class="detail_con_pictxt">
                    <img src="http://img02.taobaocdn.com/imgextra/i2/693060164/T2LikHXoBaXXXXXXXX_!!693060164.jpg" width="780" /> <img src="http://img02.taobaocdn.com/imgextra/i2/693060164/T2xyWwXhdcXXXXXXXX_!!693060164.jpg" width="780" /> <img src="http://img04.taobaocdn.com/imgextra/i4/693060164/T2F_s1Xb4aXXXXXXXX_!!693060164.jpg" width="780" /> <img src="http://img01.taobaocdn.com/imgextra/i1/693060164/T2lcwPXjFaXXXXXXXX_!!693060164.jpg" width="780" /> <img src="http://img03.taobaocdn.com/imgextra/i3/693060164/T2C0.1XiXaXXXXXXXX_!!693060164.jpg" width="780" /> <img src="http://img03.taobaocdn.com/imgextra/i3/693060164/T20sQLXa8aXXXXXXXX_!!693060164.jpg" width="780" /> <img src="http://img04.taobaocdn.com/imgextra/i4/693060164/T2MAFrXixOXXXXXXXX_!!693060164.jpg" width="780" /> <img src="http://img01.taobaocdn.com/imgextra/i1/693060164/T2zP.2XaVXXXXXXXXX_!!693060164.jpg" width="780" />
                  </div>
                </div>
              </div>
              <!--left bar-->
              <div class="detail_bar">
                <div class="detail_bar_title"><img src="skin/default/images/left_bar1.png" alt="热销排行" /></div>
                <div class="detail_bar_con">
                  <ul>
                    <li><a href="#"><img src="http://img3.heilanhome.com/sources/goods/HTSD3B101/HTSD3B101_ad--w_160_h_160.jpg" /></a>
                      <div class="name"><a href="#">2013新款 韩版休闲纯色长袖T恤 HTSD3B101</a></div>
                      <div class="price">售价 <strong>&yen;98.00</strong></div>
                    </li>
                    
                  </ul>
                </div>
              </div>
            </div>
      		</div>
		</div>
        </div>
		</div>
    </div>
</div>
{include="bottom.html"}
<script type="text/javascript" >
var select_value=[];
var select_value="";
var request_c='12';//加载时默认选中的颜色
$("#proColor li").bind("click",function(){
	share_code = $(this).children('a').attr('code');
	//去除缩略图下拉无法返回
	//$("#proLitpic").removeAttr("style");
	//颜色值
	select_value[0] = $(this).children('a').attr("value");
	select_value[2] = $(this).children('a').attr("code");
	//图片展示
	//picbig=$(this).children('a').attr('picbig');
	//$(".jqzoom").attr("href",picbig);
	//$(".pro_normalpic").attr("src",picbig);
	ccolor=$(this).children('a').attr('code');
	$('li[code="'+$(this).children("a").attr('code')+'"]').addClass("hover").siblings().removeClass();
	$('li[code="'+ccolor+'"]').children().click();
	//$("#selected_color").html(select_value[0]);//选中的值页面上显示
	//$("#current_img").parent().attr('href', $(this).children("a img").attr('source'));
	//显示缩略图中相应的颜色
	//$("#proLitpic li").hide();
	//$('li[code="'+$(this).children("a").attr('code')+'"]').show();
	//$('li[code="'+$(this).children("a").attr('code')+'"]:first').addClass("hover").siblings().removeClass();
	//缩略图绑定click事件
	/*$("#proLitpic li").each(function(){
		if($(this).is(":visible")){
			$(this).children().click();
			return false;//执行一个便结束
		}
	});*/
	//尺码初始化
	if(typeof(select_value[1]) != "undefined"){
		$('#proSize li').each(function(){
			$(this).attr("class","");
			select_value[1] = '';
			select_value[3] = '';
			$("#selected_size").html('');
		});
	}
	$("#selected_value").show();
	$("#proBuyNum").val("1");//默认购买数量
	if($(this).children().is("div")){
	}else{
		$(this).append("<div class='bg_detail'></div>").attr("class","select").siblings("li").attr("class","").children("div").remove();
	}
	//商品库存不足时尺码变灰
	$("#proSize li").removeClass();
	var inventorys={"C0154":{"s":5,"m":0,"l":0},"C0131":{"s":0,"m":3,"l":8}};
	$("#proSize li").each(function(){
		if(inventorys[share_code][$(this).children('a').attr('code')]<=0){
			$(this).addClass("nostock");
			$(this).attr("title","此码没有库存");
		}
	})
	/*Ajax.call('/?app_act=goods/get_inventory_num&app_page=null&goods_sn='+ request_goods_sn +'&c='+$(this).children('a').attr('code'), '',
		function (s){
			s=eval('('+s+')');
			//库存样式设置（无库存显示灰色）
			$("#proSize li").each(function(){
				//是预售商品
					$is_presale=s[$(this).children('a').attr('code')]['is_presale'];
					if($is_presale == 1){
						$presale_count=s[$(this).children('a').attr('code')]['presale_count'];
						if($presale_count<=0){
							$(this).addClass("nostock");
							$(this).attr("title","此码没有库存");
						}
					}else{
						$actual_count=s[$(this).children('a').attr('code')]['actual_count'];
						if($actual_count<=0){
							$(this).addClass("nostock");
							$(this).attr("title","此码没有库存");
						}
					}
				});
			}, 'GET', '');
		jiathis_config = {
			pic:"http://localhost:aaa.jpg"
		}
	*/
});
$("#proLitpic li img").bind("click",function(){
	$(this).parent("a").parent("li").addClass("hover").siblings("li").removeClass("hover");
});
$("#proSize li").bind("click",function(){
	if($(this).hasClass("nostock")){
	}else{
		var actual=0;
		$("#proBuyNum").val("1");
		//库存提示
		$("span[class='nostock']").hide();
		$("span[class='stock']").show();
		//$('.pro_submit_alert,.pro_submit_alert2,.pro_submit_alert3').hide();
		$(this).addClass("select").siblings("li").removeClass("select");
	}
});
</script>
<!-- Baidu Button BEGIN -->
<script type="text/javascript" id="bdshare_js" data="type=tools&amp;mini=1&amp;uid=770615" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script>
<!-- Baidu Button END -->
</div>
</body>
</html>
